<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd
        http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd"
       default-lazy-init="false"
       default-init-method="init">

    <!--=========================== Services binding ==================================-->

    <!--*******************************************************************************-->
    <wss:binding url="/services/WsSecurityService">
        <wss:service>
            <ws:service bean="#wsSecurityService" impl="ws.security.service.WsSecurityServiceImpl"/>
        </wss:service>
    </wss:binding>
    <bean id="wsSecurityService" class="ws.security.service.WsSecurityServiceImpl"/>
    <!--*******************************************************************************-->


</beans>