<configuration>

    <property resource="application.properties" />
    <property name="LOG_DIRECTORY" value="${logs.path}" />

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <!--============================== Console log appender =======================-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
           <pattern>%d{HH:mm:ss.SSS} %marker [%thread] %-5level %logger{36} - %msg%n</pattern>
         </encoder>
    </appender>

    <!--<logger name="ru.integral" level="error"/>-->
    <!--============================== Console log appender =======================-->
    <root level="${logs.level}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
