<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="wsClientSecurityInterceptor"
          class="org.springframework.ws.soap.security.wss4j.Wss4jSecurityInterceptor">
        <property name="securementActions" value="UsernameToken" />
        <!-- Key alias for signature -->
        <property name="securementUsername" value="client" />
        <property name="securementPassword" value="" />
        <!--<property name="securementEncryptionParts" value="{Content}{http://javacrumbs.net/calc}a"/>-->
        <!-- Key alias for encryption -->
        <property name="securementEncryptionUser" value="server"/>

        <!-- Validation config -->
        <!--<property name="validationActions" value="Signature" />-->
        <!--<property name="validationSignatureCrypto" ref="clientCrypto"/>-->
    </bean>

    <!--<bean id="clientCrypto" class="org.springframework.ws.soap.security.wss4j.support.CryptoFactoryBean">-->
        <!--<property name="keyStorePassword" value="mypasswd"/>-->
        <!--<property name="keyStoreLocation" value="classpath:security/client-keystore.jks"/>-->
    <!--</bean>-->

<bean id="wsSecurityInterceptor" class="org.springframework.ws.soap.security.wss4j.Wss4jSecurityInterceptor">
        <property name="securementActions" value="UsernameToken"/>
    </bean>


</beans>